# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://root:root@localhost:3306/furshare?schema=public"

# App Details
NEXT_PUBLIC_APP_NAME="Furshare"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_DESCRIPTION="FurShare is a powerful open-source application built on Node.js, MongoDB, and Express that empowers users to effortlessly upload, manage, and share files, images, and text. With built-in moderation tools, it ensures a safe and pleasant experience for all users."
NEXT_PUBLIC_TWITTER_HANDLE=

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Clerk URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Clerk Signing Secret
CLERK_WEBHOOK_SIGNING_SECRET=

# Appcation Settings
NEXT_PUBLIC_APP_SIGNUPS_ENABLED=false
NEXT_PUBLIC_APP_SHOW_GITUHB_LINK=false
NEXT_PUBLIC_APP_FOOTER_COPYRIGHT_COMPANY="FurShare"
NEXT_PUBLIC_APP_FOOTER_COPYRIGHT_COMPANY_LINK="https://www.github.com/mrdemonwolf/furshare"

# S3 Storage Settings
S3_ENPOINT="https://your-bucket-name.s3.amazonaws.com/"
S3_BUCKET="your-bucket-name"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="your-access-key-id"
S3_SECRET_ACCESS_KEY="your-secret-access-key"

# Bukket Public URL
BUCKET_PUBLIC_URL="https://your-bucket-name.s3.amazonaws.com/"
